<div>
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="">
              <mat-icon>school</mat-icon>
              <span>Disciplinas</span>
            </button>
            <button mat-menu-item routerLink="/subjects">
              <mat-icon>subject</mat-icon>
              <span>Matérias</span>
            </button>
        </mat-menu>

        <div class="nav">
          <button mat-icon-button>
            <mat-icon>home_outlined</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
</div>


