<div>
    <h1 mat-dialog-title>Cadastro de Disciplina</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input
                required
                class="form-control"
                type="text"
                id="title"
                name="title"
                matInput [(ngModel)]="course.title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea 
                required
                class="form-control"
                type="text"
                id="description"
                name="description"
                matInput [(ngModel)]="course.description"></textarea>
        </mat-form-field>

        <div class="subject">
            <h2 mat-dialog-title *ngIf="showSubject">Novo tópico</h2>
            <mat-form-field *ngIf="showSubject">
                <mat-label>Título</mat-label>
                <input
                    required
                    class="form-control"
                    type="text"
                    id="subject-title"
                    name="subject-title"
                    matInput [(ngModel)]="subject.title">
            </mat-form-field>

            <mat-form-field *ngIf="showSubject">
                <mat-label>Descrição</mat-label>
                <textarea 
                    required
                    class="form-control"
                    type="text"
                    id="subject-description"
                    name="subject-description"
                    matInput [(ngModel)]="subject.description"></textarea>
            </mat-form-field>


            <div class="subject-actions">
                <div class="subject-lession-action">
                    <button mat-stroked-button class="add-button" *ngIf="showSubject" (click)="showSubject=!showSubject">Ok</button>
                    <button mat-stroked-button *ngIf="showSubject" (click)="onAddLession()">Adicionar aula</button>
                </div>
                <button mat-stroked-button color="warn" *ngIf="showSubject" (click)="showSubject=!showSubject">Cancelar</button>
            </div>  
        </div>
        <button mat-stroked-button *ngIf="!showSubject" (click)="showSubject=!showSubject">Adicionar tópico</button>
    
    </div>
</div>