.mat-dialog-content {
    display: flex;
    flex-direction: column;
}

.subject {
    display: flex;
    flex-direction: column;
}

.subject-actions {
    display: flex;
    justify-content: space-between;
}

.subject-lession-action{
    width: 15em;
    display: flex;
    justify-content: space-around;
}

.add-button {
    color: rgb(0, 200, 0);
}

.add-button:hover {
    transition: 200ms,
    background-color 200ms rgba(0, 200, 0, 0.431);
}