<div>
    <h1 mat-dialog-title>Cadastro de Disciplina</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input
                required
                class="form-control"
                type="text"
                id="title"
                name="title"
                matInput [(ngModel)]="data.title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea 
                required
                class="form-control"
                type="text"
                id="description"
                name="description"
                matInput [(ngModel)]="data.description">
            </textarea>
        </mat-form-field>
    </div>
</div>